{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="site-section bg-light">
      <div class="container">
          <h3 style="font-weight:bold;">Add Destination</h3>
        <div class="row">

          <div class="col-md-12 mb-12">



            <form class="p-5 bg-white" method = "post" action="" enctype="multipart/form-data">
              {% csrf_token %}



              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Place</label>
                  <input type="text" name="place" class="form-control" placeholder="Add Place name">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Country</label>
                  <input type="text" name="country" class="form-control" placeholder="Add Country name">
                </div>
              </div>
                <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Bus Price</label>
                  <input type="text" name="pricebus" class="form-control" placeholder="bus price">
                </div>
              </div>
                 <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Train Price</label>
                  <input type="text" name="pricetrain" class="form-control" placeholder="train price">
                </div>
              </div>
                 <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Flight Price</label>
                  <input type="text" name="priceflight" class="form-control" placeholder="flight price">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" >Images</label>
                  <input type="file" name="image"   class="form-control">
                </div>
              </div>
                <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" >Images1</label>
                  <input type="file" name="image1"   class="form-control">
                </div>
              </div>
                <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" >Images2</label>
                  <input type="file" name="image2"   class="form-control">
                </div>
              </div>
                <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" >Images3</label>
                  <input type="file" name="image3"   class="form-control">
                </div>
              </div>
                <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Food Price</label>
                  <input type="text" name="foodprice" class="form-control" placeholder="food price">
                </div>
              </div>
               <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Number of person</label>
                  <input type="text" name="person" class="form-control" placeholder="person">
                </div>
              </div>
               <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Days</label>
                  <input type="number" name="days" class="form-control" placeholder="days">
                </div>
              </div>
                    <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Nights</label>
                  <input type="number" name="nights" class="form-control" placeholder="nights">
                </div>
              </div>
                 <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" >Description</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Add Destination" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>


            </form>

          </div>

        </div>
      </div>
    </div>
{% for i in messages %}
<script>
    alert("{{i}}")
</script>
{% endfor %}
    {% endblock %}
