{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
.container1{
padding:10px
}
</style>
<center>
      <h1 style="font-size:25px; background-color:darkcyan;height:35px;color:white;padding:5px;margin-top:5px;font-family : 'Monotype Corsiva" align="center"> Admin Panel </h1>

</center>
<div class="container" style="margin-top:10%;height:150px;width:100%">
    <div class="row" style="height:90%">
        <div style="height:100px;" class="col-md-4 prjdiv text-center">
            <div class="container1" style="background-color:green">
            <h2 style="color:White">{{c}}</h2>
            <a href="{% url 'view_destination' %}"><h4 style="color:white">Total Destination</h4>
        </a>
            </div>
        </div>
        <div style="height:100px;" class="col-md-4 prjdiv text-center">
            <div class="container1" style="background-color:Cadetblue">
            <h2 style="color:White">{{b}}</h2>
            <a href="{% url 'view_booking' %}"><h4 style="color:white">Total Booking</h4>

            </a>
       </div>
        </div>
        <div style="height:100px;" class="col-md-4 prjdiv text-center">
             <div class="container1"  style="background-color:darkgoldenrod">
            <h2 style="color:white">{{u}}</h2>
            <a href="{% url 'all_user' %}"><h4 style="color:white">Total User</h4>
        </a>
             </div>
        </div>
        </div>
</div>
{% for i in messages %}
<script>
    alert("{{i}}")
</script>
{% endfor %}

{% endblock %}
